#dials {
    height: 320px;
    overflow: hidden;
}

.dial {
    display: block;
    position: relative;
    height: 320px;
}

.dial.hidden {
    display: none;
}

#ellipses_jog_dial {
    position: relative;
    width: 260px;
    height: 260px;
    margin: 20px auto;
    background: url('img/base_one_bg.png') no-repeat;
}
#ellipses_jog_dial #ellipses_jog_dial_knob {
    background: url('img/base_one_knob.png') no-repeat;
}
